[
 {rabbit, [
  {cluster_nodes, {['rabbit@<%= @propel_backend_1 %>', 'rabbit@<%= @propel_backend_2 %>','rabbit@<%= @propel_backend_3 %>','rabbit@<%= @propel_backend_4 %>'], disc}},
  {tcp_listeners, []},
  {ssl_listeners, [5671]},
  {ssl_options, [
    {cacertfile,"<%= @propel_cert_path %>"},
    {certfile,"<%= @propel_cert_path %>"},
    {keyfile,"<%= @propel_key_path %>"},
    {verify,verify_none}]}
 ]},
 { rabbitmq_management, [
  {listener, [
    {port, 15672},
    {ssl, true},
    {ssl_opts, [
      {cacertfile,"<%= @propel_cert_path %>"},
        {certfile,"<%= @propel_cert_path %>"},
        {keyfile,"<%= @propel_key_path %>"}
     ]}
   ]}
 ]}
].
 
